var sub = function (val) {
    if (!val || val.length == 0) {
      return;
    }
  
    var cleaned = '';
    for (var i = 0; i < val.length; i++) {
      var ch = val.charAt(i);
      if (ch != ' ' && ch != '\n' && ch != '\r' && ch != '\t') {
        cleaned += ch;
      }
    }
  
    if (cleaned.length > 25) {
      return cleaned.substring(0, 25) + "...";
    } else {
      return cleaned;
    }
  }
  
  module.exports = {
    sub: sub
  }
  